<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Majidgholipour/index.json" />
        <add key="MG-BuildingBlock" value="https://nuget.pkg.github.com/Majidgholipour/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Majidgholipour1@gmail.com" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>